*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
    font-size: 62.5%;
}


:root{
    --first-color:#F4D03F;
    --second-color:#F9E79F;
    --third-color:#b7950b;
    --four-color:#F7DC6F;
    --five-color:#F5B041;
    --six-color:#F39C12;
}

body{
    margin: 10px;
    background: linear-gradient(to top, #F4D03F, #F9E79F, #F9E79F,#F7DC6F);
}

.div-container-items{
    display: grid;
    grid-template:repeat(10, 1fr) / repeat(10, 1fr);
    height: 100vh;
}


.div-items-1{
    display: grid;
    writing-mode: vertical-rl;
    place-items: end;
    transform: rotate(180deg);
    background: var(--third-color);
    grid-column: 3;
    grid-row: 3;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 100%);
}


.div-items-1 .paragraph-name{
    color: white;
    font-weight: bolder;
    font-size: 2rem;
}

.div-items-2{
    background: var(--first-color);
    grid-column: 1 / 2;
    grid-row: 5 / 10;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 100%);
}

.div-items-3{
    background: var(--five-color);
    grid-column: 1 / 4;
    grid-row: 7 / 9;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 100%);
}

.div-items-4{
    background: var(--five-color);
    grid-column: 5 / 8;
    grid-row: 6 / 11;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 100%);

}

.div-items-5{
    border: 5px solid var(--six-color);
    grid-column: 6 / 9;
    grid-row: 5 / 8;
    position: relative;
    z-index: -2;
}

.div-items-6{
    border: 5px solid var(--six-color);
    grid-column: 7 / 10;
    grid-row: 3 / 10;
    position: relative;
    z-index: -2;
}

.div-items-7{
    display: grid;
    grid-column: 6 / 9;
    grid-row: 4 / 5;
    place-content: center;
}

.div-items-7 .paragraph-mark{
    color: var(--six-color);
    font-size: 3rem;
    font-weight: bolder;
}




